table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 5%;
}

.material-icon{
  color:"#af2c22";
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button{
  right: auto;
  margin-left: 8px;
  margin-right: 8px;
  color: #af2c22;
}
